@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--kb-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--kb-collapsible-content-height);
  }

  to {
    height: 0;
  }
}
